<div id="divfoo">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h5>Información de contacto</h5>
                <p>Dirección: Santiago, Chile</p>
                <p>Teléfono: +56 9 509 04 397</p>
                <p>Correo electrónico: rodrigodiazguinez@gmail.com</p>
            </div>
            <div class="col-lg-6">
                <h5>Enlaces útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/" target="_blank"><img width="30" height="30" src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a></li>
                    <li><a href="https://github.com/" target="_blank"><img width="30" height="30" src="https://img.icons8.com/nolan/64/github.png" alt="github"/></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p>&copy; 2024 RCDG. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</div>