h1 {
    color: #1E90FF;
    font-size: 72px;
}

#myname {   
    color: #1E90FF;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h3 {   
    color: #1E90FF;
    font-size: 32px;
}

h1, h3 {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.homeh2{
    padding: 20px;
    font-size: 5rem;
    background: linear-gradient(
        to right,
        #004aad 20%,
        #38b6ff 40%,
        #38b6ff 60%,
        #004aad 80%
    );
    background-size: 200%;
    color: transparent;
    background-clip: text;
    animation: shine 6s linear infinite;

}

@keyframes shine{
    to {
        background-position:300% center;
    }
}